.footer__phone {
  font-weight: 400;
  font-style: normal;
  font-size: .9375rem;
  line-height: 1.5rem;
  color: rgb(102, 102, 102);
}

@media (max-width: 900px) {
  .footer__phone {
    margin-bottom: 23px;
  }
}

@media (max-width: 700px) {
  .footer__phone {
    margin-bottom: 0;
  }
}