@import url(./__date/news-card__date.css);
@import url(./__title/news-card__title.css);
@import url(./__paragraph/news-card__paragraph.css);

.news-card {
  padding: 12px;
  border-top: 1px dotted #ccc;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.news-card:hover {
  background-color: #f0f5fb;
}