.footer__social_type_vk::before {
  content: '';
  position: absolute;
  opacity: .8;
  width: 20px;
  height: 20px;
}

.footer__social_type_vk:hover::before {
  background-image: url(../../../../images/social/vk.svg);
}