@import url(./__content/footer__content.css);
@import url(./__addresses/footer__addresses.css);
@import url(./__address/footer__address.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__copyright/_mobile/footer__copyright_mobile.css);
@import url(./__phones/footer__phones.css);
@import url(./__phone/footer__phone.css);
@import url(./__socials/footer__socials.css);
@import url(./__social/footer__social.css);
@import url(./__appstores/footer__appstores.css);
@import url(./__appstore/footer__appstore.css);
@import url(./__appstore-img/__appstore-img.css);
@import url(./__list/footer__list.css);
@import url(./__links/footer__links.css);
@import url(./__card/footer__card.css);
@import url(./__title/footer__title.css);
@import url(./__resources/footer__resources.css);
@import url(./__resource/footer__resource.css);
@import url(./__resource-link/footer__resource-link.css);
@import url(./__img/footer__img.css);
@import url(./__social-links/footer__social-links.css);

.footer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 65px 0;
}
